{% extends 'adminpanel/admin_base.html' %}
{% block title %}
admin panel | blog list 
{% endblock %}
{% block content %}
<div class="container">
    <h1>Blog Posts</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                <td>{{ blog.title }}</td>
                <td>{{ blog.author.username }}</td>
                <td>{{ blog.created_at }}</td>
                <td>
                    <a href="{% url 'blog_detail' blog.id %}" class="btn btn-info">View</a>
                    <a href="{% url 'edit_blog' blog.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
