{% extends 'userpanel/user_base.html' %}

{% block title %}
user panel | Home
{% endblock %}

{% block content %}
<h2 class="text-center">Welcome to My User Home Page</h2>

<div class="container mt-4">
    <h3>Blog Posts</h3>
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ blog.blog_image.url }}" alt="{{ blog.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content|slice:":200" }}{% if blog.content|length > 200 %}...{% endif %}</p>
                    <a href="{% url 'view_blog' blog.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No blog posts available.
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
