<!-- userpanel/add_profile.html -->

{% extends 'userpanel/user_base.html' %}
{% block title %}
userpanel| view profile 
{% endblock %}

{% block content %}
<h2>  my profile </h2>

{% block content %}
<div class="container">
    <h1>Add Profile</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="mb-3">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
        </div>
        
        <div class="mb-3">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
        </div>
        
        <div class="mb-3">
            {{ form.bio.errors }}
            <label for="{{ form.bio.id_for_label }}">Bio:</label>
            {{ form.bio }}
        </div>
        
        <div class="mb-3">
            {{ form.profile_photo.errors }}
            <label for="{{ form.profile_photo.id_for_label }}">Profile Photo:</label>
            {{ form.profile_photo }}
        </div>
        
        <button type="submit" class="btn btn-primary">Save Profile</button>
    </form>
</div>
{% endblock %}
