{% extends "adminpanel/admin_base.html" %}
{% block title %}
Admin Panel | User List
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">User List</h1>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            <a href="{% url 'view_profile' user.id %}" class="btn btn-primary btn-sm">View</a>
                           
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No users found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
